/* CARD */
.card {
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    padding: 12px;
    background: #fff;

    display: flex;
    flex-direction: column;
    height: 100%;

    transition: 0.2s;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.product-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
}

/* TOP */
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.name {
    margin: 0;
    font-size: 24px;
    /* NORMAL SIZE */
    font-weight: 700;
    line-height: 1.25;
}

.id {
    font-size: 12px;
    color: #777;
}

/* DESCRIPTION */
.desc {
    margin: 8px 0;
    font-size: 13px;
    color: #444;
    line-height: 1.4;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* PRICE + RATING */
.meta {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    font-size: 14px;
    font-weight: 600;
}

/* ACTIONS */
.actions {
    margin-top: auto;
    /* always bottom */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.link {
    text-decoration: none;
    font-weight: 700;
    color: #5d1fa3;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f7f7f7;
    cursor: pointer;
    font-size: 12px;
}

.btn:hover {
    background: #efefef;
}